#s1{
    display:flex;
    background-color: peachpuff;
    justify-content: space-evenly;
    align-items: center;
}
#s1 div{
    padding-left:50px;
    width:600px;
}
#s2{
    display:flex;
    justify-content:space-between;
}
#s2 img{
    height:150px;
    width:300px;
}